body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2 {
    font-family: 'Archivo Black', sans-serif;
}



.btn-grad {
    display: block;
    color: white;
    font-size: 32px;
    text-align: center;
    line-height: 1;
    padding: 20px 0;
    text-decoration: none;
  background-image: linear-gradient(to right, #FFB75E 0%, #ED8F03 51%, #FFB75E 100%);
    background-size: 200% auto;
    border: 4px solid white;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;


    transition: .5s;


}

.btn-grad:hover {
   
   
   
   border-radius: 25px; 
    text-decoration: none;
    color: white;
     background-position: right center;
}

nav {
    background-color: white;
    box-shadow: 0 0 20px black;
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .nav-btn {
        background-color: #fb6108;
        height: 100%;
        padding: 10px 20px;
        border-radius: 0;
        color: white;
    }

    .nav-btn:hover {
        background-color: green;
        cursor: pointer;
    }

    .nav-item:not(.order-btn) {
        padding: 10px 5px;
    }


}







img {
    width: 100%;
}

.scrolled {
    opacity: 0.95;
}

.dark {
    color: #fb6108;
}




header {
    background-image: url(../img/brown-bg.jpg);
   
    padding: 59px 0 20px 0;
    color: white;
    min-height: 500px;

    .header-text {
        z-index: 2;


        h1 {
            font-weight: 900;
            letter-spacing: -1px;
            margin-top: 0;
            font-family: 'Archivo Black', sans-serif;
        }

        h2 {
            text-transform: uppercase;
            font-weight: lighter;
            margin-bottom: 60px;


            span {
                color: black;
                font-weight: bold;
            }
        }
    }

    img {
        
        width: auto;
        position: absolute;

    }
}


#info {
    /*background-color: #e9ecef;*/
    padding: 40px 10px 40px 10px;


    .container {

        padding: 10px 20px;

        b {
            color: black;
        }


        h2 {
            color: black;
            font-size: 30px;
            font-weight: 600;
        }
        
        
        .feature {
            text-align: center;
    max-width: 400px;
    padding: 10px 10px 0 10px;
    display: block;
    margin: 10px auto;
            
            h3 {
                font-size: 20px;
    font-weight: 600;
    border-bottom: 3px solid #b38a3e;
            }
        }

/*

        ol {


            li {
                color: black;
                font-size: 24px;
                font-weight: bold;

                p {
                    margin-top: 16px;
                    font-size: 16px;
                    color: black;
                    font-weight: normal;
                }
            }
        }
*/
        .product-box {
            display: flex;
            align-items: center;
            
            
        img {
           
            max-height: 700px;
            width: 100%;
            
        }
        }
    }
}

#clinical {
    font-weight: 600;
    background-image: url(../img/yellow.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    transition: 1s;
    padding: 40px 10px;

    h2,
    b {
        color: white;
    }
}

#opinions {
    background-image: url(../img/wheat.jpg);

    padding: 40px 10px;

    .container {
        h2 {

            margin-bottom: 30px;
            color: white;
        }


        .opinion-box {
            padding-left: 0 !important;
            border-right: 8px solid green;
            height: 100%;
           

            img {
                float: left;
                margin-right: 20px;

            }
        }

        .opinion-box-2 {
            padding-right: 0 !important;
 height: 100%;
            border-left: 8px solid green;

            img {
                float: right;
                margin-left: 20px;
            }
        }

        .opinion-box,
        .opinion-box-2 {
           
            background-color: white;
            border-radius: 40px;
            overflow: hidden;


        }

        .text-box {
            padding: 30px 20px;
             display: flex;
justify-content: center;
  flex-direction: column;


            h3 {
                text-align: center;
            }

        }
    }
}

#order {
    background-image: url(../img/brown-bg.jpg);
    padding-top: 35px;

    color: white;



    h1 {
        font-weight: 700;
        font-size: 50px;
        letter-spacing: -1px;
        margin-top: 0;
        margin-bottom: 30px;
        span {
            color: black;
            font-weight: bold;
        }
    }

    h2 {
        font-size: 30px;
        margin-bottom: 40px;

        span {
            color: black;
            font-weight: bold;
        }
    }




    img {
        display: block;
        width: 75%;
        margin: 0 auto;
    }
}

footer {
    background-color: black;
    color: white;
    padding: 20px 0 10px 0;

    a {
        color: white;
        text-decoration: none;
    }
}



@media (min-width: 772px) {

    header,
    #order {
        background-repeat: repeat-x;
        background-size: contain;

        h1 {
            font-size: 50px;
        }


    }

    #opinions {
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .opinion-box,
    .opinion-box-2 {

        img {
            float: left;
            width: 40%;
            height: 300px;
        }
    }

    .btn-grad {
        width: 90%;
    }
}

@media (max-width: 772px) {

    header,
    #order {
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            font-size: 40px;
        }

        h2 {
            font-size: 24px;
        }
    }

    #opinions {
        background-repeat: repeat;
        background-size: contain;
    }

    .opinion-box,
    .opinion-box-2 {
        padding-left: 0;
        padding-right: 0;
        border-left: 8px solid green;
        border-right: 8px solid green;

        img {
            float: none;
            width: 100%;
            margin-bottom: 15px;
            height: 300px;
        }

        .text-box {
            padding-left: 30px;
            padding-right: 10px;
        }
    }

    .btn-grad {
        width: 100%;
    }

}


@media (max-width: 1198px) {
    header {

        img {
            height: 472px;
           
        }
    }
}

@media (min-width: 1198px) {
    header {

        img {
            height: 441px;
        }
    }
}

@media (max-width: 1620px) {
    header {

        img {            
            right: 0;
        }
    }
}



@media (min-width: 1620px) {
    header {

        img {
            right: 5%;
        }
    }
}



@media (min-width: 1820px) {
    header {

        img {
            
            right: 10%;
        }
    }
}
